
*{
	border: none;
	margin: 0px;
	padding: 0px;
}

body, html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

hr{
	border-top: 1px #555555 solid;
	margin: 0px 5px;
}

body{
	background-color: #111111;
	font-family: monospace;
}

a{
	color: #FFFFFF;
}

a:hover{
	text-decoration: none;
}

.screen{
	position: absolute;
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #111111;
	padding: 10px;
}

#canvasContainer{
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#hangOn{
	color: #FFFFFF;
	position: absolute;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	text-align: center;
	z-index: 0;
}

#terrainCanvas{
	z-index: 1000;
}

#menu{
	position: absolute;
	left: 0px;
	height: 50px;
	top: 0px;
	right: 0px;
	background-color: #000000;
	border-bottom: 1px #555555 solid;
	color: #DDDDDD;
	font-family: monospace;
	box-sizing: border-box;
	padding: 3px;
}

#tabs{
	position: absolute;
	bottom: 0px;
	left: 200px;
}

.tab{
	cursor: pointer;
	display: inline-block;
	width: 110px;
	font-size: 17px;
	background-color: #222222;
	text-align: center;
	margin-right: 7px;
	padding: 5px;
	border: 1px #555555 solid;
	border-bottom: none;
}

.tab:hover, .tab.active:hover{
	background-color: #444444;
}

.tab.active{
	color: #00EE00;
	background-color: #333333;
}

h1{
	color: #FFFFFF;
	font-size: 1.5em;
	line-height: 1em;
	margin-top: 5px;
	font-weight: 200;
	margin-left: 10px;
}

#subtitle{
	margin-left: 10px;
}

#gameMenu{
	margin: 5px;
}

footer{
	position: absolute;
	right: 10px;
	top: 6px;
	line-height: 1.4em;
	text-align: right;
}

h2{
	font-size: 1em;
	font-weight: 200;
	color: #FFFFFF;
	margin: 4px 0px;
}

.menuItem{
	cursor: default;
	margin-left: 7px;
	background: inherit;
	color: inherit;
	font-family: inherit;
}

.menuItem:hover, .menuItem:focus{
	outline: none;
}

.menuItem .menuText{
	
}

.menuItem:hover .menuText, .menuItem:focus .menuText{
	color: #FFFFFF;
}

.menuItem .menuDots{
	color: #555555;
}

.menuItem:hover .menuDots, .menuItem:focus .menuDots{
	color: #888888;
}

.menuItem .menuKey{
	color: #00FF00;
	font-weight: bold;
	text-transform: capitalize;
}























